// Form field with label
//
// Requires:
//     base/config.scss


$field-label-width: 6em;
$field-small-max-width: 6em;

.field {
    display: flex;
    flex-flow: row nowrap;
    align-items: top;
    margin: $text-space-gap 0;

    &-label {
        flex: none;
        width: $field-label-width;
        margin: $text-space-gap $text-narrow-gap $text-space-gap 0;
        text-align: right;
    }

    &-textarea {
        flex: auto;
        width: 0%; // override width inferred by "cols" attribute
    }
    &-input {
        flex: none;

        &[type=text], &[type=number], &[type=file], &[type=color] {
            flex: auto;
            width: 0%; // override width inferred by "size" attribute
        }
        &[type=number], &[type=color] {
            max-width: $field-small-max-width;
        }
        &[type=checkbox] {
            align-self: center;
        }
    }
}
