// Config


//* Typography *//

// font
$text-font-family: "Alte Haas Grotesk", sans-serif;
$text-line-height: 1.3;

// spacings
$text-wide-gap: 1.5em;
$text-medium-gap: 1em;
$text-narrow-gap: 0.5em;
$text-space-gap: 0.25em;

// sizes
$text-vv-large-size: 2em;
$text-v-large-size: 1.5em;
$text-large-size: 1.17em;
$text-medium-size: 1em;
$text-small-size: 0.83em;
$text-v-small-size: 0.75em;


//* Color Palette *//
$colors-bg-color: #fff;
$colors-fg-color: #000;
$colors-contrast-color: #00f;
$colors-accent-color: #666;


//* Sizes *//

// lines
$sizes-line: 1px;


//* Media Queries *//
$media-content-width: 640px;
